body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

main{
	display: flex;
}

header {
	background-color: #4CAF50;
	color: #fff;
	padding: 20px 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.38);
}

h1 {
	margin: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-left: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	border-bottom: 2px solid #ffffff;
}

main {
	padding: 40px 0;
}

h2 {
	margin-bottom: 20px;
}

.datos {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 10px;
}

.datos li {
	margin-bottom: 10px;
}

.datos li strong {
	display: inline-block;
	width: 120px;
}

.btn {
	display: inline-block;
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}
.btn-cancelar {
	display: inline-block;
	background-color: #e93d38;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}
.btn-cancelar:hover{
	background-color: #d9534f;
}

.btn:hover {
	background-color: #398439;
}
